.wc-tags-lowercase-status {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.wc-tags-lowercase-status.ok {
    background-color: #46b450;
}

.wc-tags-lowercase-status.warning {
    background-color: #ffb900;
}

.button-convert-tag {
    margin-left: 10px;
    display: inline-block;
}

.button-success {
    background-color: #46b450;
    border-color: #46b450;
    color: white;
}

.button-error {
    background-color: #dc3232;
    border-color: #dc3232;
    color: white;
}

/* Notice for converted tags */
.notice-converted {
    border-left-color: #46b450 !important;
}

/* Quick feedback for tag conversion */
.tag-converted-message {
    display: none;
    color: #46b450;
    font-weight: bold;
    margin-top: 5px;
}
