.wc-tags-lowercase-status {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.wc-tags-lowercase-status.ok {
    background-color: #46b450;
}

.wc-tags-lowercase-status.warning {
    background-color: #ffb900;
}

.column-tag-lowercase {
    width: 100px;
}

.button-convert-tag {
    margin-top: 5px;
    display: inline-block;
    margin-left: 10px;
}

.button-success {
    background-color: #46b450;
    border-color: #46b450;
    color: white;
}

.button-error {
    background-color: #dc3232;
    border-color: #dc3232;
    color: white;
}
